/.idea/workspace.xml

/bin/
/out/
/output/
*/bin/**
*/build/**
*/target/**

/.gradle
/buildSrc/**

/doc/

/target/**

/.lsp/.cache/
/.clj-kondo/
/.idea/compiler.xml
/.idea/encodings.xml
/ghel-model-status.iml
/tripleo-small/tripleo-small.iml
/xxx-model-status/xxx-model-status.iml
