/.idea/workspace.xml
/.idea/*
!/.idea/.name

/bin/
/out/
/output/
*/bin/**
*/build/**
*/target/**

/.gradle
/buildSrc/**

/doc/

/target/**

/.lsp/.cache/
/.clj-kondo/
/ghel-model-status.iml
/tripleo-small/tripleo-small.iml
/xxx-model-status/xxx-model-status.iml
build/
